.button {
  padding: 0;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  transition:all 0.4s ease;
  height: max-content;
  &:hover {
  transform: rotate(90deg);
  }
}